export APIKEY=AIzaSyBBy5wGzdJu44pz4pLp1jGhS9xVjQ-Bj5w
export AUTHDOMAIN=cardversus.firebaseapp.com
export DATABASEURL=https://cardversus.firebaseio.com
export PROJECTID=cardversus
export STORAGEBUCKET=cardversus.appspot.com
export MESSAGINGSENDERID=111647879834